.intro {
  background-image: url(../../img/intro-mobile.png),url(../../img/intro-cat-mobile.png);
  background-repeat: no-repeat;
  background-position: 0 180px,top;
  height: 482px;

  @media (min-width: @tablet-width) {
    background-image: url(../../img/intro-tablet.png);
    height: 810px;
  }

  @media (min-width: @desktop-width) {
    background-image: url(../../img/intro-desktop.png), url(../../img/intro-cat-desktop.png);
    height: 810px;
  }
}
.intro__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.intro__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.intro__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
