.programs {
  padding: 0 20px;
  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }
  @media (min-width: @desktop-width) {
    padding: 60px 110px;
    display: flex;
    column-gap: 30px;
  }
}

.programs__item {
  background-color: @basic-grey;
  @media (min-width: @tablet-width) {
  padding: 40px 0px;
  }
}

.programs__sub-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  padding-left: 70px;
  @media (min-width: @tablet-width) {
    padding-left: 0px;
    font-size: 36px;
    line-height: 36px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 120px;
  }
}

.programs__sub-title--loose::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 53px;
  background-image: url(../img/programs-loose-cat.svg);
  background-repeat: no-repeat;
  left: 0px;
  @media (min-width: @tablet-width) {
    width: 200px;
    height: 211px;
    background-size: 200px 211px;
    left: 450px;
  }
  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    left: 0;
    top: -40px;
  }
}

.programs__sub-title--fit::before {
  position: absolute;
  content: '';
  width: 67px;
  height: 53px;
  background-image: url(../img/programs-fit-cat.svg);
  background-repeat: no-repeat;
  left: 0px;
  @media (min-width: @tablet-width) {
    width: 268px;
    height: 200px;
    background-size: 268px 200px;
    left: 400px;
  }
  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;
    background-size: 134px 100px;
    left: 0;
    top: -40px;
  }
}

.programs__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  @media (min-width: @tablet-width) {
    padding-right: 360px;
  }
}

.programs__button {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @accent-text;
  position: relative;
  padding-right: 35px;
}

.programs__button::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 10px;
  background-image: url(../img/programs-arrow.svg);
  top: 5px;
  left: 95px;
}
